{% extends 'chat/base.html' %}
{% load static %}

{% block title %}Chat with GPT-3{% endblock %}

{% block content %}
   <!---Chat Board Start-->
<div class="chat-board chatbot chat new trending"></div>
    <div class="frame-content">
        <div class="widget-position-right sidebar-position-right onlyBubble" id="chatContainer">

            <div class="chat no-clip-path chrome moveFromRight-enter-done">
                <div class="chat-header project-online">
                    <h2 class="oneline"><span>Hi there!</span></h2>
                    <button class="material-icons exit-chat ripple tidio-1s5t5ku" id="minimize-button" type="button" aria-label="Minimize" style="color: #000;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="m249 873-66-66 231-231-231-231 66-66 231 231 231-231 66 66-231 231 231 231-66 66-231-231-231 231Z"/></svg>
                        <span>Minimize</span>
                    </button>
                </div>
                <div id="conversation-group"  role="log">
                    <div id="messages" aria-live="polite" aria-atomic="false" data-testid="messagesLog">
                        <div class="message message-operator  ">
                            <span class="message-content">Hi</span>
                        </div>
                        
                    </div><div id="conversation-scroll">
                        <div style="top: 0px; height: 55.8952px;"></div>
                    </div>
                </div>

                <div id="loading" class="snippet" data-title="dot-typing">
                    <div class="stage">
                        <div class="dot-typing"></div>
                    </div>
                </div>

                <div class="input-group ">
                    <hr>
                    <div class="drag-active-wrapper footer-input-wrapper">
                        {% csrf_token %}
                        <textarea id="chat-input" rows="1" placeholder="Type message" aria-label="New message" data-testid="newMessageTextarea"></textarea>
                      
                        <button id="SentButton" class="send-icon" title="SentButton" type="button">
                            Send
                        </button>
                        <button id="ClearButton" class="send-icon clear" title="SentButton" type="button">
                            Clear
                        </button>
                       
                    </div>
                </div>
            </div>

        </div>
        <div id="chat-button" data-testid="widgetButton" class="chat-closed mobile-size__medium">
            <div class="buttonWave"></div>
            <button type="button"
                    id="button-body"
                    data-testid="widgetButtonBody"
                    class="chrome"
                    tabindex="0"
                    aria-label="Open chat widget"
                    style="background-color: rgb(32, 21, 255); box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 14px;">
                <i class="material-icons type1 for-closed active" style="color: rgb(255, 255, 255);">
                    <svg id="ic_bubble" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2z"></path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </i>
               
            </button>
        </div>
    </div>

    <!---Chat Board End-->
{% endblock %}


{% block scripts %}
 <script>
    const chatButton = document.getElementById("chat-button");
    const chatContainer = document.getElementById("chatContainer");
    const minimizeButton = document.getElementById("minimize-button");
    const chatInput = document.getElementById("chat-input");
    const chatMessages = document.getElementById("conversation-group");
    const sendButton = document.getElementById("SentButton");
    const clearButton = document.getElementById("ClearButton");

    // selecting loading div
    const loader = document.querySelector("#loading");


    function displayLoading() {
        loader.classList.add("active");
        console.log(loader)
        // to stop loading after some time
        setTimeout(() => {
            loader.classList.remove("active");
        }, 5000);
    }

    // hiding loading 
    function hideLoading() {
        loader.classList.remove("active");
    }

    if (chatButton) {
        chatButton.addEventListener("click", function () {
            if (chatContainer) {
                chatContainer.classList.add("open");
                chatButton.classList.add("clicked");
            }
        });
    }

    if (minimizeButton) {
        minimizeButton.addEventListener("click", function () {
            if (chatContainer) {
                chatContainer.classList.remove("open");
                chatButton.classList.remove("clicked");
            }
        });
    }

    function createMessage(message, isUser = true) {
        const newMessage = document.createElement('div');
        newMessage.classList.add(isUser ? 'sentText' : 'botText');
        newMessage.textContent = message;
        chatMessages.appendChild(newMessage);
        return newMessage;
    }

    function chatbotResponse(user_message) {
        displayLoading()
        fetch('chat/', {
          method: 'POST',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
          },
          body: 'message=' + encodeURIComponent(user_message)
        }).then(function(response) {
          return response.json();
        }).then(function(data) {
          // Add response to chat messages list
          var message = data.response;
          const botMessage = createMessage(message, false);
          botMessage.scrollIntoView();
          hideLoading()  
        });
    }

    chatInput.addEventListener("input", function (event) {
        if (event.target.value) {
            sendButton.classList.add("svgsent");
        } else {
            sendButton.classList.remove("svgsent");
        }
    });

    chatInput.addEventListener("keypress", function (event) {
        if (event.keyCode === 13) {
            const message = chatInput.value;
            if (message.match(/^\s+$/) === null && message !== "") {
                chatInput.value = "";
                const userMessage = createMessage(message);
                userMessage.scrollIntoView();
                chatbotResponse(message);
                sendButton.classList.add("svgsent");
            }

        }
    });

    if (sendButton) {
        sendButton.addEventListener("click", function () {
            const message = chatInput.value;
            if (message.match(/^\s+$/) === null && message !== "") {
                chatInput.value = "";
                const userMessage = createMessage(message);
                userMessage.scrollIntoView();
                chatbotResponse(message);
                sendButton.classList.add("svgsent");
            }
        });
    }

    if(clearButton){
        clearButton.addEventListener("click", function () {
            chatInput.value = "";
            sendButton.classList.remove("svgsent");

            chatMessages.innerHTML = "";
        });
    }


 </script>

{% endblock %}