{% extends 'chat/base.html' %}
{% load static %}

{% block title %}Chat with GPT-3{% endblock %}

{% block content %}
  <h1>Chat with GPT-3</h1>
  <ul id="chat-messages"></ul>
  
  <form id="chat-form" method="post">
    {% csrf_token %}
    <input type="text" name="message" id="chat-input" autocomplete="off">
    <button type="submit">Send</button>
  </form>
{% endblock %}


{% block scripts %}
  <script>
    var chatMessages = document.querySelector('#chat-messages');
    var chatForm = document.querySelector('#chat-form');
    var chatInput = document.querySelector('#chat-input');

    chatForm.addEventListener('submit', function(e) {
      e.preventDefault();

      var message = chatInput.value;
      chatInput.value = '';

      // Send message to server
      fetch('', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
          'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
        },
        body: 'message=' + encodeURIComponent(message)
      }).then(function(response) {
        return response.json();
      }).then(function(data) {
        // Add response to chat messages list
        var response = data.response;
        var chatMessage = document.createElement('li');
        chatMessage.innerText = 'ChatGPT: ' + response;
        chatMessages.appendChild(chatMessage);
        chatMessages.scrollTop = chatMessages.scrollHeight;
      });
    });
  </script>
{% endblock %}